<div ng-controller='AlbumCtrl'>
  <div ng-repeat="album in albums track by $index">
    {{album.title}}
  </div>

    <h1>Bite me yoo</h1>


  <script src="../js/app.js"></script>
  <script src="../js/controllers/AlbumCtrl.js"></script>
  <script src="../js/services/albumFactory.js"></script>
</div>
