<audio hidden="true" autoplay="autoplay" controls="controls">
   <source src="barcelona.mp3" />
</audio>

 <div id="album_title_container" class="">
    <form id="album_title_form" method="post">
      <input id="album_title" class="" type="text" size="35" placeholder="Set a title for this album">
    </form>
  </div>



