<div class="home-page">

  <div ng-controller='AlbumCtrl'>

    <!-- <div ng-repeat="album in albums track by $index">
      {{album.title}}
    </div> -->

  <!--   <form action="../">
      <select onchange="window.open(this.options[this.selectedIndex].value,'_top')" class="destination-select">
        <option value="" style="font-family: 'Ubuntu', sans-serif;">Choose a destination...</option>
        <option value="/go">Barcelona</option>
        <option value="">Berlin</option>
        <option value="">London</option>
        <option value="">New York</option>
        <option value="">Paris</option>
        <option value="">Prague</option>
        <option value="">Rome</option>
        <option value="">Venice</option>
        <option value="">Washington</option>
      </select>
    </form> -->
    <sidebar>
      <section class="sidebar-nav">
        <div class="sidebar-nav-item">
          <a><i class="fa fa-arrow-left"></i></a>
        </div>
        <div class="sidebar-nav-item">
           <a><i class="fa fa-cog"></i></a>
        </div>
      </section>
      <section class="sidebar-masthead">
        <div class="logo"></div>
        <h1>Roadtrip</h1>
        <p>Immersive tours for learning or pleasure</p>
      </section>
    </sidebar>
    <canvas id="hyperFixed"></canvas>
    <canvas id="hyper"></canvas>
 <!--    <h1>Bite me yoo</h1> -->
  </div>

</div>
