<div ng-controller='AlbumCtrl'>

  <div ng-repeat="album in albums track by $index">
    {{album.title}}
  </div>


  <canvas id="hyperFixed" style="height: 600px; width: 800px;"></canvas>
  <canvas id="hyper"></canvas>
  <h1>Bite me yoo</h1>
</div>


</div>
