<div ng-controller='AlbumCtrl'>

  <div ng-repeat="album in albums track by $index">
    {{album.title}}
  </div>

  <canvas id="hyperFixed"></canvas>
  <canvas id="hyper"></canvas>
  <h1>Bite me yoo</h1>
</div>

