@import "_normalize.scss";
@import "_mixins.scss";

html,body{
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}
#pano{
	position: absolute; 
	left: 0; 
	top: 0;
	right: 0; 
	bottom: 0; 
	z-index:-1;
}
#map{
	position: absolute;
	right: 20px;
	bottom: 20px;
	width: 200px; 
	height: 200px;
	padding: 0;
	z-index: 9;
}

#hud{
	position: absolute;
	right: 20px;
	top: 20px;
	width: 400px;
	height: 200px;
	background: white;
	border: 1px solid #ccc;
	@include border-radius(3px);
	@include box-shadow(0px 2px 6px rgba(0,0,0,0.03));
}

#controls{
	visibility:hidden;
}
.map_form{
	visibility:hidden;
}