@import "_normalize.scss";
@import "_mixins.scss";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,600,600italic,700,700italic,800,800italic,300italic);

*{
	@include border-box();
	font-family: 'Open Sans', sans-serif;
}
html,body{
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}
#pano{
	background: url('../img/cartographer_@2X.png');
	background-repeat: auto;
	position: absolute; 
	left: 0; 
	top: 0;
	right: 0; 
	bottom: 0; 
	z-index:1;
	cursor: grab;
	&:active{
		cursor: grabbing;
	}
}

#map{
	position: absolute;
	right: 20px;
	bottom: 20px;
	width: 200px; 
	height: 200px;
	padding: 0;
	z-index: 9;
}

#hud{
	position: absolute;
	right: 20px;
	top: 20px;
	width: 400px;
	min-height: 200px;
	//background: rgba(255,255,255,0.98);
	overflow:hidden;
	z-index:2;
	
	@include border-radius(6px);
	@include box-shadow(0px 2px 6px rgba(0,0,0,0.06));
	.hud-content{
		background: rgba(255,255,255,0.98);
		padding: 1px 18px;
		min-height: 200px;
		@include border-top-radius(6px);
		border: 1px solid #ccc;
		border-bottom: none;
		h3{
			color: #ccc;
		}
		p{
			color: #444;
			margin-bottom: 85px;
		}
	}
	button{
		background: #4183D7;
		border: none;
		//@include border-radius(3px);
		color: #fff;
		
		//height: 20px;
		padding: 0px 8px;
	}
}
.inactive-button{
	background: #81CFE0 !important;
	cursor: default;
	&:hover{
		background: darken(#81CFE0,6%) !important;
		@include transition(background, 300);
	}
}
.hud-nav{
	position: absolute;
	bottom: 0;
	height: 55px;
	width: 100%;
	overflow:hidden;
	@include border-bottom-radius(3px);
	button{
		display: inline-block;
		width: 50%;
		@include transition(background, 200);
		*{
			display: inline-block;

		}
		p{
				margin-left: 0px;
				margin-right: 12px;
		}
		&:first-of-type{
			p{
				margin-left: 12px;
				margin-right: 0px;
			}
		}
		&:hover{
			background: darken(#4183D7,6%) !important;
			@include transition(background, 300);
		}

	}
}

#controls{
	visibility:hidden;
}
.map_form{
	visibility:hidden;
}